body {
  font-family: "Raleway", sans-serif;
  background-color: #bbdef0;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  color: #475355;
}

h1 {
  text-align: right;
  font-weight: 700;
  font-size: 100px;
}

h2 {
  font-weight: 700;
  font-size: 26px;
}

h2:first-letter {
  text-transform: capitalize;
}

p {
  text-align: right;
  font-size: 18px;
}

li {
  list-style: none;
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

hr {
  border: 3px;
  height: 3px;
  color: #475355;
  opacity: 100%;
}

hr:not([size]) {
  height: 3px;
}

a:hover {
  color: #fff;
  transition: 0.3s ease-out;
}

input::-webkit-input-placeholder {
  color: rgba(71, 83, 85, 0.7) !important;
}

input::-moz-input-placeholder {
  color: rgba(71, 83, 85, 0.7) !important;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.weather-app {
  max-width: 600px;
  background-color: #ffb400;
  border-radius: 20px;
  margin: 20px auto;
  padding: 25px 30px 30px;
  box-shadow: 5px 5px 27px rgba(71, 83, 85, 0.3);
}

.date-time {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.location {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 0;
}

.wind {
  padding-right: 15px;
}

.main-weather-icon {
  width: 200px;
  padding-bottom: 10px;
}

.speed-humidity {
  width: 12px;
}

.overview {
  float: right;
}

.small {
  font-size: 12px;
  text-align: center;
}

.name {
  color: #ea638c;
}

.project-links {
  font-weight: 700;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #475355;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-left: 0;
}

.form-control:focus {
  color: #475355;
  background-color: rgba(255, 255, 255, 0.315);
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.overview .active {
  font-weight: 700;
}

.btn {
  background-color: transparent;
  border: 3px solid #475355;
  border-radius: 24px;
  font-size: 16px;
  color: #475355;
  font-weight: 700;
  padding: 9px 18px;
}

.forecast {
  margin-top: 30px;
  text-align: center;
}

.forecast-date {
  color: #475355;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.forecast-temperatures {
  font-size: 14px;
  color: #475355;
}

.forecast-temp-max {
  font-weight: 700;
}

.btn:hover {
  background-color: #475355;
  border-color: #475355;
  color: #fff;
  transition: 0.4s ease-out;
}

#search-form {
  margin-bottom: 35px;
}
