body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  color: #475355;
}

h1 {
  text-align: right;
  font-weight: 700;
  font-size: 90px;
}

h2 {
  font-weight: 700;
}

p {
  text-align: right;
}

.weather-app {
  max-width: 720px;
  background-color: #ffb400;
  border-radius: 20px;
  margin: 20px auto;
  padding: 40px;
}

.main-weather-icon {
  width: 150px;
  padding-bottom: 20px;
}

.overview {
  float: right;
}
